.footer {
  height: 150px;
  background-color: $footerColor;
  color: white;
  text-align: center;

  //  Mobile && tablet
  @include breakpoint-down(small) {
    display: block;
    height: 200px;
    padding: 25px 10px;
    text-align: left;

    &__links {
      display: block;
    }
  }

  &__heading {
    font-size: $font-med;
    font-family: $titleFont;
    margin-bottom: 25px;
  }
  &__links {
    padding: 0;
    margin: 0;
  }
  &__listItems {
    font-size: $font-sm;
    font-family: $textFont;
    margin: 5px 0;
    padding-right: 15px;
  }
  &__icon1 {
    margin-right: 15px;
  }
  &__icon2 {
    margin-right: 5px;
  }
}
