.header {
  //Desktop
  position: relative;
  height: 100px;
  padding: 0 25px;
  line-height: 100px;
  z-index: 10;
  box-shadow: $box-shadow;

  //Mobile && Tablet
  @include breakpoint-down(medium) {
    padding: 0 10px;
    justify-content: center;
  }
  &__navTitle {
    text-align: center;
    font-family: $titleFont;
    font-size: $font-xl;
    cursor: pointer;
  }
  @include breakpoint-up(large) {
    &__nav {
      max-width: 1440px;
      margin: 0 auto;
    }
    &__navTitle {
      text-align: left;
    }
  }
}
