.hero {
  text-align: center;

  .heroTop {
    background-color: $backgroundColorAlt;
    &__title {
      font-size: $font-lg;
      margin-bottom: 25px;
    }
    &__text {
      font-size: $font-sm;
    }
    &__button {
      margin-top: 25px;
    }
  }
  .heroBottom {
    &__title {
      font-size: $font-lg;
      margin-bottom: 25px;
      text-align: left;
    }
  }
  @include breakpoint-down(small) {
    height: 523px;

    .heroTop {
      height: 218px;
      padding: 25px 10px;
      &__text {
        height: 38px;
      }
    }
    .heroBottom {
      height: 305px;
      padding: 25px 10px;

      &__cards {
        flex-direction: column;
      }
      &__card {
        width: 92%;
      }
    }
  }
  @include breakpoint-up(medium) {
    height: 505px;
    .heroTop {
      height: 200px;
      padding: 25px;
    }
    .heroBottom {
      height: 305px;
      padding: 25px;
      &__cards {
        flex-direction: column;
      }
    }
  }
  @include breakpoint-up(large) {
    height: 354px;
    .heroBottom {
      height: 154px;

      &__cards {
        flex-direction: row;
        justify-content: center;
      }
      &__card {
        &:not(:last-child) {
          margin-right: 50px;
          margin-bottom: 0;
        }
      }
    }
  }
  @include breakpoint-up(xlarge) {
    .heroBottom {
      &__title {
        max-width: 1440px;
        margin: 0 auto 25px auto;
      }
    }
  }
}
