.restaurants {
  background: $backgroundColorAlt;
  &__title {
    padding-bottom: 25px;
  }
  @include breakpoint-down(small) {
    height: 1180px;
    padding: 25px 10px;

    &__cards {
      grid-row-gap: 25px;
    }
  }
  @include breakpoint-up(medium) {
    height: 627px;
    padding: 25px;

    &__cards {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 20px;
    }
  }
  @include breakpoint-up(xlarge) {
    &__section {
      max-width: 1440px;
      margin: 0 auto;
    }
    &__cards {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .fullPalette {
      grid-column: 1/2;
      grid-row: 1/3;
    }
    .enchantedPlate {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .bastille {
      grid-column: 3/4;
      grid-row: 1/3;
    }
    .gourmand {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}
