.button {
  height: 50px;
  width: 220px;

  background: linear-gradient(
    to right bottom,
    $color-secondary,
    $color-primary
  );
  color: white;

  box-shadow: $box-shadow;

  font-family: $textFont;
  font-size: $font-sm;

  border-style: none;
  border-radius: 25px;
  outline: none;
}
